*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Shared Style */
.text-center{
    text-align: center;
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url(../images/developer.png),url(../images/header_bg.png);
    background-position:23px 38px, bottom right;
    background-repeat: no-repeat;
}
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    font-size: 20px;
    background-color:#FD6E0A ;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding:18px 45px; 
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.orange{
    color:#FD6E0A;
}
.section-heading{
max-width: 827px;
text-align: center;
margin:0 auto;
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    margin-bottom:30px;
}
.section-heading p{
    font-size: 18px;
    margin-bottom: 30px;
    color: #757575;
    line-height: 30px;
}
#about .about-info{
    display: flex;
    justify-content: space-around;
    
}
#about .about-info .info-card p{
font-size: 20px;
color: #757575;
}
#about .about-info .info-card h4{
    
    font-size: 20px;
    color: #3e3e3e;

}
/* individual style */
nav {
    width: 71.25%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color:#474747;
    font-size: 20px;
}
nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 51px;
}
#banner {
margin: 47px 38px 0 230px;
display: flex;
justify-content: space-between;
align-items: center;
}
#banner .banner-content h2{
font-size: 45px;
font-weight: 600px;
color: #474747;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h1{
font-size: 85px;
font-weight: bold;
color: #181818;
margin-bottom:20px;
}
#banner .banner-content p{
font-size:18px;
font-weight: bold;
color: #757575;
line-height:30px;
margin-bottom:30px;
}
.banner-image img{
max-width:585px;
vertical-align: middle;
}
#about , #skills ,#resume {
    padding: 131px; 
}
#about .about-container {
    margin:0 auto;
    text-align: center;
    width:71%;
    max-width: 1140px;
    background-color: #FFF8F3;
    padding: 131px  157px 131px 156px;
    border-radius: 10px;
}

#skills .skills-container{
    width:70%;
    max-width:1140px;
    margin:0 auto;
}
#skills .skills-container .skill-box{
    display: flex;
    gap:24px;
}
#skills .skills-container .skill-box .skill-card{
    padding: 30px;
    box-shadow: 0 6px 50px 0 #c6c6c6;
    max-width: 267px;
    border-radius: 5px;
}
#skills .skills-container .skill-box .skill-card img{
    max-width: 44px;
    margin-bottom: 30px;
}
#skills .skills-container .skill-box .skill-card h3{
    font-size:20px;
    color:#181818;
}
#skills .skills-container .skill-box .skill-card p{
    font-size:16px;
color: #757575;
line-height:28px;
margin-bottom:30px;
}
#resume .resume-container{
    width:71%;
    max-width: 1140px;
    margin:113px auto 0;
    display: flex;
    gap:24px;
}
.resume-container hr{
    margin:30px 0;
}
.resume-container .section-title{
    color:#474747;
    font-size:30px;
    margin-bottom:30px;
}
.resume-card{
    max-width:511px;
    margin-right:47px;
}
.resume-card .card-title{
    font-size:25px;
    font-weight: bold;
    color:#474747;
}
.resume-card .card-info{
    font-size:20px;
    font-weight: 600px;
    margin:10px 0px 20px 0px;
    color:#757575;
}
.resume-card .card-text{
    font-size:16px;
    line-height: 28px;
    color:#757575;
}
footer{
    margin: top 130px;
    background-color: #fff8f3;
    padding: 130px 0;
}
footer .footer-container{
    width:71%;
    max-width:1140px;
    margin:0 auto;
    display: flex;
    gap:116px;
}
.footer-container .social{
    max-width: 562px;
}
.footer-container h2{
    color: #181818;
    font-size: 35px;
    margin-bottom: 20px;
}
.footer-container .social p{
    color: #474747;
    line-height:16px;
    margin-bottom: 30px;
}
.footer-container .icons{
    margin-right:24px;
}
.footer-container form input[type="text"], .footer-container form textarea{
    width:461px;
    padding:18px 31px;
    margin-bottom: 24px;
    border:none;
    border-radius: 5px;
    color:#757575;
}