*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
/* Shared Style */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}
.font-open-sans > {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn{
    font-size: 20px;
    background-color:#FD6E0A ;
    font-weight: bold;
    border:none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    padding:18px 45px; 
}
.logo h2{
    font-size: 45px;
    font-weight: 900px;
}
.orange{
    color:#FD6E0A;
}

/* individual style */
nav {
    width: 71.25%;
    max-width: 1140px;
    display: flex;
    margin: 0px auto;
    justify-content: space-between;
    align-items: center;
}
nav .menu a{
    text-decoration: none;
    color:#474747;
    font-size: 20px;
}
nav .menu {
    list-style: none;
    display: flex;
    align-items: center;
    font-size: 20px;
    gap: 51px;
}
